header {
    background-color: #171728;
    padding: 5px 20px 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    display: flex;
    align-items: center;
    width: 50%;
}

.headerImg {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-image: url('../../assets/penteado.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    margin-right: 20px;
}

header p {
    color: white;
    margin: 0;
}

.buttonCustom {
    background-color: transparent;
    border: 1px solid #E5BE52;
}

.buttonCustom:hover {
    background-color: transparent;
    border: 1px solid #E5BE52;
}